@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --creme-claro: #fef5da88;
  --creme-medio: #fef5da;
  --castanho-escuro: #463d34;
  --rosa-medio: #e78095;
  --rosa-escuro: #fa7791;
  --verde-claro: #dae0b5;
  --fonte-titulo: "Pacifico", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--creme-claro);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--castanho-escuro);
  margin: auto;
  line-height: 1.5em;
}

h1,
h2 {
  color: var(--rosa-medio);
  margin: 15px 0;
  font-family: var(--fonte-titulo);
}

header a {
  color: var(--rosa-medio);
  text-decoration: none;
}

header a:hover {
  color: var(--rosa-escuro);
}

header h1 {
  text-align: center;
  text-shadow: 1px 2px 1px var(--creme-medio), 2px 2px 4px rgba(0, 0, 0, 0.15);
  /*tamanho de texto responsivo:*/
  font-size: clamp(20px, 8vw, 50px);
  /*  clamp (tamanho mínimo, tamanho gradual em vw - porcentagem da largura da tela, tamanho máximo)*/
}

header {
  background-color: var(--creme-medio);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0;
  z-index: 1;
  position: relative;
}

main {
  max-width: 1000px;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
  border-radius: 0px 0px 10px 10px;
}

main h1 {
  margin-bottom: 30px;
  /*tamanho de texto responsivo:*/
  font-size: clamp(20px, 8vw, 40px);
  /*  clamp (tamanho mínimo, tamanho gradual em vw - porcentagem da largura da tela, tamanho máximo)*/
  line-height: 1; /* ajustar altura da linha */
}

main a {
  color: var(--rosa-medio);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.doces a,
.salgadas a {
  text-decoration: none;
  color: var(--castanho-escuro);
}

.doces a:hover,
.salgadas a:hover {
  text-decoration: underline;
}

/* outro jeito de fazer mais de um seletor:
:where(.doces, .salgadas) a:hover {
  text-decoration: underline;
} */

img {
  /* imagem responsiva (proporcional): */
  max-width: 100%;
  /* largura máxima em 100% para a imagem não ultrapassar o limite de largura da tela menos 20px (por que cada borda tem 10px)*/
  height: auto; /*altura: automática*/
  max-height: 200px; /*altura máxima, para a imagem não ficar muito grande*/
}

.foto-com-fita-cola {
  rotate: -2deg;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border: 10px solid white;
  border-radius: 4px;
  width: fit-content;
  position: relative;
}

.foto-com-fita-cola::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 30px;
  background-color: var(--verde-claro);
  display: block;
  opacity: 0.6;
  /* bottom: 0; 
  left: 50%;
  translate: -50% 80%;
  transform: skew(-3deg); */
  rotate: -30deg;
  translate: -42% -30%;
  transform: skew(5deg);
}

.foto-com-fita-cola img {
  display: block;
  border-radius: 2px;
}

img.hero {
  max-height: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border: 10px solid white;
  border-radius: 4px;
  /* imagem responsiva (proporcional): */
  max-width: calc(100% - 20px);
}

.preparo ol > li::marker {
  font-weight: bold;
}

footer {
  background-color: var(--rosa-medio);
  color: var(--castanho-escuro);
  margin: auto;
  text-align: center;
  font-size: 0.7em;
}
